/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



@tailwind base;
@tailwind components;
@tailwind utilities; 




/*-----------Navbar------*/

.nav-items{
  list-style-type: none;
  display: flex;
  font-weight: bold;
  gap: 20px;
}
.nav-items li:hover{
  background-color: aliceblue;
  color: black;
  border-radius: 2px;
}

.menu-icon{
  display: none;
}

.hero{
  height: 80vh;
}

/* Slick styles */
.slick-slide div{
  margin: 0 10px;
}

.slick-dots li button:before {
  color: white; /* Change the color of the dots */
 
}

.slick-dots li.slick-active button:before {
  color: white; /* Change the color of the active dot */
}


/* Lottiee Cycle  */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* Moves 100px right */
  }
  100% {
    transform: translateX(500px); /* Back to original position */
  }
}
.animate-slide {
  animation: slide 5s infinite; /* Repeat the animation infinitely */
}


/*--------Responsive-----------*/
@media screen and (max-width:800px){
  .nav-items{
    display: none
  }
  .menu-icon{
    display: block;
  }
  .slick-slide div{
    margin: 0;
  }

  /* For lottie cycle aniamtion on small screens*/
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200px); /* Moves 200px right */
    }
    100% {
      transform: translateX(300px); /* Back to original position */
    }
  }
  .animate-slide {
    animation: slide 5s infinite;
  }
}
